{% extends 'base.html' %}

{% block content %}

<form method='POST'>
    {% csrf_token %}
    股票代號：{{ dataFilter.form.sNumber }}
    
    股票名稱：{{ dataFilter.form.sName }}

    日期: {{dataFilter.form.sDate}}
    <input type="submit" class="btn btn-primary" value="查詢" />
    <p style="color:darkred;">*值為-1代表當天無資料</p>
</form>
<br />
<table class="table">
    <thead>
    <th>股票代號</th>
    <th>股票名稱</th>
    <th>日期</th>
    <th>開盤</th>
    <th>最高</th>
    <th>最低</th>
    <th>收盤</th>
    <th> </th>
    </thead>
    <tbody>
        {% for data in dataFilter.qs %}
        <tr>
            <td><a type ="edit" href="{% url 'Edit' data.id %}">{{ data.sNumber }}</a></td>
            <td>{{ data.sName}}</td>
            <td>{{ data.sDate }}</td>
            <td>{{ data.sOpen }}</td>
            <td>{{ data.sHigh }}</td>
            <td>{{ data.sLow }}</td>
            <td>{{ data.sClose }}</td>
            <td>
                <a href="{% url 'Delete' data.id %}" class="btn btn-danger">刪除</a>
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock  %}