{% extends 'base.html' %}
{% block content%}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>股票</title>
    <style>
        .container {
            display: flex;
            justify-content: center;
            align-items: center;
        }
    </style>
</head>
<body class="  container ">
    <h2>Welcome</h2>
    {% if request.user.is_authenticated %}
    <p>
        {{request.user}} 您已經登入囉~
        <a href="/accounts/logout/">登出</a>
    </p>
    <a href="/stock_data/">首頁</a>
    {% else %}
    <p>您尚未登入喔~<a href="/stock_data/accounts/login/">登入</a></p>
    <p>登入看更多資料喔!</p>
    {% endif %}
</body>
</html>
{% endblock %}